@import "tailwindcss";

/* Default Light Theme */
:root {
  
  --background: #ffffff;
  --foreground: #171717;
  --button-border: #000000;
  --button-text: #ffffffff;
  --navbar-bg: #ffffff;
  --navbar-text: #121217;
  --primary: #2563eb;
  --search-bg: #f1f1f4;
  --search-text: #121217;
  --sidebar-border: #f1f1f4;
  --sidebar-border1: #f1f1f4;
  --search-placeholder: #676783;
  --blue-search: #000000;
  --blue-text: #000000;
  --blue-bg:#ffffff;
  --blue-searchBG: #f1eeee;
  --msgcolor: #e1dedecf; 
}

/* Dark Mode Class */
.dark-mode {
  --none : black;
  --background: #0a0a0a;
  --foreground: #ededed;
  --button-border: #ff7300;
  --button-text: #ff7300;
  --navbar-bg: #000000;
  --primary: #ff7300;
  --navbar-text: #ff7300;
  --search-bg: #000000;
  --sidebar-border: #ffffff;
  --sidebar-border1: #000000;
  --search-text: #ff7300;
  --search-placeholder: #ff7300;
  --blue-search: #a893ff;
  --blue-text: #ffffff;
  --blue-bg: #04030d;
  --blue-bg: #04030d;
  --blue-searchBG: #262252;
  --msgcolor: #4968be71;
}

/* Global Base */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Reusable Layout Classes */
.screen {
  min-height: 100vh;
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans, sans-serif);
}

.btn {
  padding: 0.5rem 1.25rem;
  border: 2px solid var(--button-border);
  color: var(--button-text);
  background: transparent;
  border-radius: 0.375rem;
  cursor: pointer;
  font-weight: 600;
}

/* Animations + Tailwind Addons */
@layer utilities {
  @keyframes scaleIn {
    0% {
      opacity: 0;
      transform: scale(0.95);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

  .animate-scaleIn {
    animation: scaleIn 0.2s ease-out forwards;
  }

  .input {
    @apply border px-3 py-2 rounded-md text-sm w-full;
  }
}
